                                   body {
                                         background: -webkit-linear-gradient(left,#07fbe7,#07fbe7,black,black,black,black,black,#07fbe7,#07fbe7);
  /* For Opera 11.1 to 12.0 */
                                        }

                                   div#BODY2 
                                        {
                                          width: auto;
                                          margin-left:29%;
                                          margin-right:29%;
                                          border:2px inset #07fbe7;
                                        }
                                canvas
                                        {
                                          width: auto;
                                          margin-left:40%;
                                          margin-right:40%;
                                          margin-bottom:20%;
                                          margin-top: 5%;
                                          border:5px inset #07fbe7;
                                        } 
                                  
                                   h1
                                        {
                                         color:#03c4b4;
                                         text-align:center;
                                         margin-top:50px;
                                        }
                                   h2
                                        {                               
                                         color:#03c4b4;
                                         padding-left:20px;
                                        
                                        }
                                   h3 {
                                        color:#03c4b4;
                                        padding-left:20px;
                                        margin-top:50px;
                                        margin-bottom:50px;
                                      }

                                   h4{
                                      color:black;
                                      text-align:left;
                                      margin-top:-86%;
                                      margin-bottom:10px;
                                      margin-right: 150px;
                                      margin-left: 80px;
                                      }
                                   h5
                                      { 
                                      color:black;
                                      text-align:right;
                                      margin-top: -1555px;
                                      margin-bottom: 0px;
                                      margin-right: 200px;
                                      margin-left: 80px;
                                      
                                     }
                                
                                  img
                                      {
                                       float: right;
                                       width: 30%;
                                       padding: 10px;
                                      }
                                  img
                                      {
                                       float: right;
                                       width: 30%;
                                       padding: 10px;
                                     }

                                  p 
                                     {
                                      font-size:20px;
                                      padding:15px;
                                      color:#036a61;
                                     }
                               audio
                                     {
                                      float:left;
                                     }
                  
                              video  {                                    
                                    	float:right;
                                      margin-top:-22%;      
                                      margin-bottom:0%; 
                                      margin-right: 100px;
                                      margin-left: 80px;             
                                     }
                              video#video1
                                     {
                                      float:right;
                                      margin-top:-10%;      
                                      margin-bottom:0%;  
                                      margin-right: 100px;
                                      margin-left: 80px;            
                                     }
                              video#video2
                                     {
                                      float:right;
                                      margin-top:0%;      
                                      margin-bottom:0%;  
                                      margin-right: 5%;
                                      margin-left: 80%;            
                                     }
                              video#video3
                                     {
                                      float:right;
                                      margin-top:0%;      
                                      margin-bottom:0%;  
                                      margin-right: 5%;
                                      margin-left: 80%;            
                                     }
                                     

                                   a
                                        {
                                          width: auto;
                                          margin-left:29%;
                                          margin-right:29%;
                                          border:2px inset #07fbe7;
                                       }
                               ul#L1 
                                    { 
                                     list-style:none;
                                     color:#6a030f;
                                     font-size:18px;
                                     font-weight:bold;
                                   }

                               ul#L2 
                                   {
                                    color:#c1051b;
                                    font-weight:normal;
                                   }

                               table
                                   {
                                    border: inset 2px #300208;
                                    width: 85%;
                                    margin-left: auto;
                                    margin-right: auto;
                                    text-align: center;
                                    background-color: #b0f8f2;
                                  }

                             p#NOTA
                                  {
                                   border: 2px outset #f1ae0d;
                                   width: 60%;
                                   margin-left:auto;
                                   margin-right:auto;
                                   color: #f1ae0d;
                                   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                                 } 

                            p#NOTA a 
                                {
                                  text-decoration:none;
                                  color:black:auto;
                                }

                            p#NOTA a:hover 
                                {
                                  text-decoration:underline;
                                }
                                          * { margin: auto; padding: 0; }
                             h1 { padding: 0.5em; text-align: center; }
                            #cronometro 
                                {
                                  padding:30px;
                                  border: 5px blue double;
                                  width: 400px;
                                  text-align: center 
                                }
                            #reloj
                                {
                                  color:#03c4b4;
                                  padding-left:20px;
                                  margin-top:50px;
                                  margin-bottom:50px;
                                  margin: #03c4b4;
                                }
                            #cronometro [type=button] 
                             { margin: 6px;
                              font: normal 16pt Times New Roman } 

                           img#imggif
                           {
                            padding-left:0%;
                            margin-top:0%;
                            margin-bottom:0%;
                            margin-right:0%;
                            width:300px;
                            height:200px;
                           }

                           #div1 {
                            padding-left:500px;
                            align:center;
                            width:300px;
                            height:200px;
                            padding:10px;
                            border:2px solid #07fbe7;}

                           #paint{
                                  color:#07fbe7;
                                  margin-top:0%;
                                  margin-bottom:0%;
                                  margin-right:45%;
                                  margin: #03c4b4;}

                          img#j{
                            width:300px;
                            height:300px;

                            }
                            
                            .fadein {
                            background:#aaaaaa;
                            position:relative; 
                            height:0%; 
                            width:0%; 
                            margin:auto;
                            padding:0%;
                             }
                             
                            .fadein img { 
                             
                            left:0%; 
                            top:0%; 
                            }
                            
                </style>
